<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>apiKey</key>
    <string>923e8e6ee18743e6b1a798f08c180269</string>
    <key>apiUrl</key>
    <string>https://api.fritz.ai/sdk/v1</string>
    <key>namespace</key>
    <string>production</string>
  </dict>
</plist>