<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL_ENDPOINT</key>
	<string>$(API_BASE_URL_ENDPOINT)</string>
	<key>APP_BASE_URL_ENDPOINT</key>
	<string>$(APP_BASE_URL_ENDPOINT)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AltIcon90s</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIcon90s</string>
				</array>
			</dict>
			<key>AltIconAqua</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconAqua</string>
				</array>
			</dict>
			<key>AltIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconBlue</string>
				</array>
			</dict>
			<key>AltIconDarkGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconDarkGray</string>
				</array>
			</dict>
			<key>AltIconGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconGreen</string>
				</array>
			</dict>
			<key>AltIconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconOrange</string>
				</array>
			</dict>
			<key>AltIconPink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconPink</string>
				</array>
			</dict>
			<key>AltIconPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconPurple</string>
				</array>
			</dict>
			<key>AltIconSand</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconSand</string>
				</array>
			</dict>
			<key>AltIconYellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconYellow</string>
				</array>
			</dict>
		</dict>
		<key>CFBundleIcons~ipad</key>
		<string></string>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AltIcon90s</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIcon90s</string>
				</array>
			</dict>
			<key>AltIconAqua</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconAqua</string>
				</array>
			</dict>
			<key>AltIconBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconBlue</string>
				</array>
			</dict>
			<key>AltIconDarkGray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconDarkGray</string>
				</array>
			</dict>
			<key>AltIconGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconGreen</string>
				</array>
			</dict>
			<key>AltIconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconOrange</string>
				</array>
			</dict>
			<key>AltIconPink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconPink</string>
				</array>
			</dict>
			<key>AltIconPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconPurple</string>
				</array>
			</dict>
			<key>AltIconSand</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconSand</string>
				</array>
			</dict>
			<key>AltIconYellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AltIconYellow</string>
				</array>
			</dict>
		</dict>
		<key>CFBundleIcons~ipad</key>
		<string></string>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>facebook-stories</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MIXPANEL_TOKEN</key>
	<string>$(MIXPANEL_TOKEN)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>f190f97cc45e.ngrok.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>imgix.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>primer-full.netlify.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Primer uses the camera to reimagine your home in AR</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Primer saves photos and videos that you record to the photo library</string>
	<key>SENTRY_DSN</key>
	<string>${SENTRY_DSN}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
